# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/

# Ignore database files
*.sqlite3

# Ignore specific files
add_admin.py
test_mongo.py

# Ignore the db/ folder
db/

# Ignore the add_IT.py file
add_IT.py
# Ignore the db_config.py file
db_config.py

# Ignore the add_user.py file
add_user.py

#Ignore the aws_test.py file
aws_test.py